@import url("reset.css");

main {
  overflow: hidden;
  height: calc(100%-4em);
}

#left{
  float: left;
  height: 100%;
  width: 10%;
}

#content {
  float: right;
  height: 100%;
  width: 80%;
}

#right{
  float: right;
  height: 100%;
  width: 10%;
}

