@import url("reset.css");

header {
  grid-row-start: 1;
  grid-row-end: 2;
  background-color:lightskyblue;
  color: white;
  line-height: 2em;
  text-align:center;
}

main {
  display:grid;
  grid-template-columns: 10% auto 10%;
  grid-row-start: 2;
  grid-row-end: 3;
}

#left{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color:teal;
  color:white;
  line-height: 20em;
  text-align:center;
}

#content {
  background-color:rgb(241, 168, 112);
  color:white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  line-height: 20em;
  text-align:center;
}

#right{
  background-color:rgb(181, 226, 150);
  color:white;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  line-height: 20em;
  text-align:center;
}

footer{
  background-color:lightpink;
  color: white;
  grid-row-start: 3;
  grid-row-end: 4;
  line-height: 2em;
  text-align: center;
  
}