@import url("reset.css");

@media (min-width: 960px){

  main {
    display:grid;
    height: calc(100%-140px);
    grid-template-columns: 10% 1fr 10%;
  }

  main > #left{
    order: 1;
  }

  #content {
    order: 2;
  }

  #right{
    order: 3;
  }

  .centered{
    display:grid;
    align-items: center;
    justify-content: center;
  }
}