main {
  overflow: hidden;
}

main > #left{
  float:left;
  height: 50em;
  margin-top: -50em;
  width: 10%;
}

main > #content{
  margin: auto;
  height: 50em;
  width: 80%;
}

main > #right {
  float:right;
  height: 50em;
  margin-top: -50em;
  width: 10%;
}

footer {
  clear:both;
}