@import url("reset.css");

header {
  background-color:lightskyblue;
  color: white;
  height: 2em;
  line-height: 2em;
  text-align:center;
  width:100%;
}

@media (min-width: 960px){
  body {
    display: flex;
    flex-direction: column;
  }

  main {
    align-items: stretch;
    display:flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
  }

  main > #left{
    order: 1;
    width:10%;
  }

  #content {
    order: 2;
    flex: 1;
  }

  #right{
    order: 3;
    width:10%;
  }

  .centered{
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

}

footer{
  background-color:lightpink;
  color: white;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 100%;
}